<app-loading
	[show]="loading"
	[onTop]="true"
/>

<label
	*ngIf="label"
	class="block mb-3 text-sm w-fit"
>
	{{ label }}

	<span
		*ngIf="required"
		class="text-red-500"
	>
		*
	</span>
</label>

<div
	class="px-3 py-2.5 border rounded-md hover:shadow-sm w-full placeholder:text-sm text-sm min-h-[41.6px] cursor-pointer flex items-center gap-3"
	(click)="visible = true"
	[ngClass]="{
		'bg-slate-50 border-gray-200 hover:border-green-400 hover:shadow-green-400':!disabled,
		'bg-gray-200 border-gray-200':disabled,
	}"
>
	<p
		class="flex-1 text-sm"
		*ngIf="value"
	>
		{{ value }}
	</p>

	<p
		class="flex-1 text-sm text-gray-400"
		*ngIf="!value"
	>
		{{ placeholder || '' }}
	</p>

	<i class="pi pi-external-link text-sm text-gray-500"></i>
</div>

<p
	*ngIf="errorMessage"
	class="text-rose-500 text-xs mt-2"
>
	{{ errorMessage }}
</p>

<p-dialog
	[header]="dialogHeader"
	[visible]="visible"
	[modal]="true"
	[style]="{ width: dialogWidth, minHeight: '80vh' }"
	[closable]="false"
>
	<app-generic-table-component
		[data]="data"
		[customColumns]="columns"
		[customCol]="true"
		[isShowAllDelete]="false"
		[isShowEditRemove]="false"
		[isShowUpdate]="false"
		[isCheckBox]="false"
		(tickCheckboxes)="onSelect($event)"
		(pageChange)="onPageChange($event)"
	/>

	<ng-template pTemplate="footer">
		<div class="flex items-center justify-end gap-3">
			<div
				class="px-3 py-2 bg-gray-500 hover:bg-gray-600 cursor-pointer rounded-md text-sm font-semibold text-white"
				(click)="visible = false"
			>
				Hủy
			</div>
			<div
				class="px-3 py-2 bg-green-500 hover:bg-green-600 cursor-pointer rounded-md text-sm font-semibold text-white"
				(click)="_onChange()"
			>
				Xác nhận
			</div>
		</div>
	</ng-template>
</p-dialog>
