<app-loading
	[show]="
		addMutate.isPending() || updateMutate.isPending() || detailQuery.isFetching() || updateStatusMutate.isPending()
	"
	[onTop]="true"
/>

<p-card>
	<ng-template pTemplate="header">
		<div class="px-4 pt-6 flex items-center gap-3">
			<div class="flex-1 flex items-center gap-3">
				<p class="font-bold text-2xl">
					{{ this.id() == 0 ? 'Thêm mới chương trình khuyến mãi' : 'Cập nhật chương trình khuyến mãi' }}
				</p>

				<p-chip
					*ngIf="
						this.id() > 0 &&
						detailQuery.data()?.data?.status !== undefined &&
						status[detailQuery.data()?.data?.status!]
					"
					[label]="status[detailQuery.data()?.data?.status!].name"
				/>
			</div>

			<ng-container *ngIf="this.id() > 0 && detailQuery.data()?.data?.status !== undefined">
				<div
					*ngIf="![0, 2].includes(detailQuery.data()?.data?.status!)"
					class="px-3 py-2 bg-gray-500 hover:bg-gray-600 text-white cursor-pointer rounded-md"
					(click)="onSubmit(0)"
				>
					Chuyển về nháp
				</div>

				<div
					*ngIf="![1, 2].includes(detailQuery.data()?.data?.status!)"
					class="px-3 py-2 bg-yellow-500 hover:bg-yellow-600 text-white cursor-pointer rounded-md"
					(click)="onSubmit(1)"
				>
					Duyệt
				</div>

				<div
					*ngIf="![0, 2].includes(detailQuery.data()?.data?.status!)"
					class="px-3 py-2 bg-red-500 hover:bg-red-600 text-white cursor-pointer rounded-md"
					(click)="onSubmit(2)"
				>
					Hủy bỏ
				</div>
			</ng-container>

			<div
				*ngIf="![1, 2, 4].includes(detailQuery.data()?.data?.status!)"
				class="px-3 py-2 bg-green-500 hover:bg-green-600 text-white cursor-pointer rounded-md"
				(click)="onSubmit()"
			>
				{{ this.id() == 0 ? 'Thêm mới' : 'Cập nhật' }}
			</div>
		</div>
	</ng-template>

	<div
		class="grid grid-cols-3 gap-5"
		[style.pointerEvents]="this.id() > 0 && detailQuery.data()?.data?.status !== 0 ? 'none' : 'auto'"
	>
		<div class="col-span-3">
			<app-input-radio-multi
				name="promotion-type"
				layout="3"
				[options]="[
					{
						label: 'Giảm theo giá tiền',
						value: 0
					},
					{
						label: 'Giảm theo phần trăm',
						value: 1
					}
				]"
				label="Loại giảm giá"
				[required]="true"
				[value]="form.type"
				[errorMessage]="errors()['type']"
				[disabled]="this.id() > 0 && detailQuery.data()?.data?.status !== 0"
				(onChange)="form.type = $event.value"
			/>
		</div>

		<app-input-text-component
			label="Mã chương trình khuyến mãi"
			placeholder="Mã chương trình khuyến mãi"
			[required]="true"
			[disabled]="this.id() > 0"
			[value]="detailQuery.data()?.data?.internalCode"
			[errorMessage]="errors()['internalCode']"
			(onChange)="form.internalCode = $event"
		/>

		<app-input-text-component
			label="Tên chương trình khuyến mãi"
			placeholder="Tên chương trình khuyến mãi"
			[required]="true"
			[value]="detailQuery.data()?.data?.name"
			[errorMessage]="errors()['name']"
			[disabled]="this.id() > 0 && detailQuery.data()?.data?.status !== 0"
			(onChange)="form.name = $event"
		/>

		<app-input-date-component
			label="Ngày bắt đầu"
			placeholder="Ngày bắt đầu"
			[required]="true"
			[value]="detailQuery.data()?.data?.start"
			[errorMessage]="errors()['start']"
			(onChange)="form.start = $event.toDateString()"
		/>

		<app-input-price-component
			*ngIf="form.type === 0"
			label="Số tiền giảm"
			placeholder="Số tiền giảm"
			[required]="true"
			[disabled]="this.id() > 0 && detailQuery.data()?.data?.status !== 0"
			[value]="detailQuery.data()?.data?.discount"
			[errorMessage]="errors()['discount']"
			(onChange)="form.discount = $event"
		/>

		<app-input-number-component
			*ngIf="form.type === 0"
			label="Phần trăm giảm tối đa"
			placeholder="Phần trăm giảm tối đa"
			[required]="true"
			[disabled]="this.id() > 0 && detailQuery.data()?.data?.status !== 0"
			[value]="detailQuery.data()?.data?.percentMax"
			[errorMessage]="errors()['percentMax']"
			(onChange)="form.percentMax = $event"
		/>

		<app-input-number-component
			*ngIf="form.type === 1"
			label="Phần trăm giảm"
			placeholder="Phần trăm giảm"
			[required]="true"
			[value]="detailQuery.data()?.data?.percent"
			[errorMessage]="errors()['percent']"
			[disabled]="this.id() > 0 && detailQuery.data()?.data?.status !== 0"
			(onChange)="form.percent = $event"
		/>

		<app-input-price-component
			*ngIf="form.type === 1"
			label="Số tiền giảm tối đa"
			placeholder="Số tiền giảm tối đa"
			[required]="true"
			[value]="detailQuery.data()?.data?.discountMax"
			[errorMessage]="errors()['discountMax']"
			[disabled]="this.id() > 0 && detailQuery.data()?.data?.status !== 0"
			(onChange)="form.discountMax = $event"
		/>

		<app-input-date-component
			label="Ngày kết thúc"
			placeholder="Ngày kết thúc"
			[required]="true"
			[value]="detailQuery.data()?.data?.end"
			[errorMessage]="errors()['end']"
			(onChange)="form.end = $event.toDateString()"
		/>

		<app-input-number-component
			label="Giới hạn số lượng"
			placeholder="Giới hạn số lượng"
			[disabled]="this.id() > 0 && detailQuery.data()?.data?.status !== 0"
			[value]="detailQuery.data()?.data?.limit"
			[errorMessage]="errors()['limit']"
			(onChange)="form.limit = $event"
		/>

		<div class="col-span-3">
			<app-apply-product-to-promotion
				[data]="detailQuery.data()?.data?.promotionForProduct || []"
				(onChange)="onUpdateGroup($event)"
			/>
		</div>
	</div>
</p-card>
