<button class="flex justify-center items-center cursor-pointer" type="button" ngClass="{{ valueClass }}"
	(click)="onClick($event)">
	<ng-container *ngIf="svgContent; else defaultSvg">
		<ng-container [ngSwitch]="true">
			<ng-container *ngSwitchCase="svgContent.startsWith('<svg')">
				<span [innerHtml]="svgContent"></span>
			</ng-container>
			<ng-container *ngSwitchDefault>
				<img [src]="svgContent" alt="SVG Icon" [ngClass]="valueClassSvgContent" />
			</ng-container>
		</ng-container>
	</ng-container>
	<ng-template #defaultSvg>
		<svg xmlns="http://www.w3.org/2000/svg" [ngClass]="valueClassSvgContent" none viewBox="0 0 24 24"
			stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
				d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
		</svg>
	</ng-template>
	<span class="text-[12px]">{{ valueButton }}</span>
</button>