<app-loading
	[onTop]="true"
	[show]="detailQuery.isFetching() || updateMutate.isPending() || updateStatusMutate.isPending()"
/>

<p-card>
	<ng-template pTemplate="header">
		<div class="px-4 pt-6 flex items-center gap-3">
			<div class="flex-1 flex items-center gap-3">
				<p class="font-bold text-2xl">
					{{ this.id() == 0 ? 'Thêm mới hóa đơn đặt hàng' : 'Cập nhật hóa đơn đặt hàng' }}
				</p>

				<p-chip
					*ngIf="
						this.id() > 0 &&
						detailQuery.data()?.data?.status !== undefined &&
						status[detailQuery.data()?.data?.status!]
					"
					[label]="status[detailQuery.data()?.data?.status!].label"
				/>
			</div>

			<ng-container *ngIf="this.id() > 0 && detailQuery.data()?.data?.status! < 3">
				<div
					*ngIf="detailQuery.data()?.data?.status === 0"
					class="px-3 py-2 bg-gray-500 hover:bg-gray-600 text-white cursor-pointer rounded-md"
					(click)="onSubmit(2)"
				>
					Hủy
				</div>

				<div
					*ngIf="detailQuery.data()?.data?.status === 0"
					class="px-3 py-2 bg-yellow-500 hover:bg-yellow-600 text-white cursor-pointer rounded-md"
					(click)="onSubmit(1)"
				>
					Xác nhận
				</div>
			</ng-container>

			<div
				*ngIf="id() == 0 || detailQuery.data()?.data?.status === 0"
				class="px-3 py-2 bg-green-500 hover:bg-green-600 text-white cursor-pointer rounded-md"
				(click)="onSubmit()"
			>
				{{ this.id() == 0 ? 'Thêm mới' : 'Cập nhật' }}
			</div>
		</div>
	</ng-template>

	<div
		class="grid grid-cols-3 gap-5"
		[ngClass]="{
			'pointer-events-none': id() > 0 && detailQuery.data()?.data?.status
		}"
	>
		<app-input-text-component
			*ngIf="id() > 0"
			label="Mã đơn nhập"
			[value]="detailQuery.data()?.data?.internalCode"
			[disabled]="true"
		/>

		<app-input-text-component
			*ngIf="id() > 0"
			label="Ngày tạo đơn"
			placeholder="Ngày tạo đơn"
			[value]="formatDate(detailQuery.data()?.data?.bookingDate!)"
			[disabled]="true"
		/>

		<app-input-text-component
			*ngIf="id() > 0"
			label="Nhân viên tạo"
			[value]="detailQuery.data()?.data?.approveStaff?.name"
			[disabled]="true"
		/>

		<app-input-dialog-select
			api="distributor"
			[columns]="distributorColumns"
			[value]="detailQuery.data()?.data?.distributorId"
			label="Nhà cung cấp"
			placeholder="Nhà cung cấp"
			[required]="true"
			dialogHeader="Danh sách nhà cung cấp"
			valueField="id"
			labelField="name"
			dialogWidth="80vw"
			[errorMessage]="errors()['supplierOrderId']"
			(onChange)="onChangeDistributorId($event)"
		/>

		<app-input-price-component
			label="Tổng tiền"
			[value]="id() > 0 ? detailQuery.data()?.data?.total : totalPrice"
			[disabled]="true"
		/>

		<div class="col-span-3">
			<app-input-dialog-select-multi
				api="product"
				[columns]="productPopupColumns"
				label="Sản phẩm"
				placeholder="Sản phẩm"
				[required]="true"
				dialogHeader="Danh sách sản phẩm"
				valueField="id"
				subValueField="productId"
				labelField="internalCode"
				dialogWidth="80vw"
				dataReturn="all"
				[value]="detailQuery.data()?.data?.details || []"
				[errorMessage]="errors()['supplierOrderId']"
				(onChange)="onSelectProduct($event)"
			/>
		</div>

		<div class="col-span-3">
			<table class="table-auto w-full my-0 align-middle border-neutral-200 border-collapse">
				<thead class="bg-greenlighten-1">
					<tr>
						<th class="p-3 border-r-2 text-white text-center">Mã sản phẩm</th>
						<th class="p-3 border-r-2 text-white text-center">Tên sản phẩm</th>
						<th class="p-3 border-r-2 text-white text-center w-40">Số lượng nhập</th>
						<th class="p-3 border-r-2 text-white text-center w-60">Giá nhập</th>
					</tr>
				</thead>

				<tbody>
					<tr
						*ngFor="let item of selectedProducts; index as i"
						class="hover:bg-green-50 cursor-pointer"
					>
						<td class="align-middle border-b-4 px-3 py-3 text-center">{{ item.internalCode }}</td>
						<td class="align-middle border-b-4 px-3 py-3">{{ item.name }}</td>
						<td class="align-middle border-b-4 px-3 py-3 text-center z-999 relative">
							<app-input-number-component
								[value]="item.quantity"
								inputClass="text-center"
								(onChange)="onChangeItemQuantity(i, $event)"
							/>
						</td>
						<td class="align-middle border-b-4 px-3 py-3 text-center w-40 z-999 relative">
							<app-input-price-component
								[value]="item.price"
								inputClass="text-right"
								(onChange)="onChangeItemPrice(i, $event)"
							/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</p-card>
